# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Gradle build output directory

# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
!build.gradle.kts
!gradle-wrapper.jar

# Maven
target

# Build
out
bin

# Other
*.log
*.swp
*.bak

# jEnv
.java-version

secret
